@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer keyframes {
  @keyframes infiniteSliderHorizontal {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-1000px - 1rem));
      /*     transform: translateX(calc(1000px + 1rem)); */
    }
  }

  @keyframes infiniteSliderHorizontalRight {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(1000px + 1rem));
      /*     transform: translateX(calc(1000px + 1rem)); */
    }
  }
}

@layer utilities {
  .animate-infinite-slider-horizontal {
    animation: infiniteSliderHorizontal 45s linear infinite;
  }

  .animate-infinite-slider-right {
    animation: infiniteSliderHorizontalRight 45s linear infinite;
  }
}

.moreover {
  background-image: url(/public/bg.svg);

}


.hero-bg {
  background-image: url("../public/hero.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 660px;
}

@media (max-width: 768px) {
  .hero-bg {
    background-size: cover;
  }
}

.student-bg {
  background-image: url("../public/student.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 660px;
}

.hero-heading {
  letter-spacing: -0.01em;
}


.header-about {
  line-height: 5.2rem;
  letter-spacing: -0.01em;
}

.ultimate {
  background-image: url("../public/globe.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 50px;
}

@media (max-width: 768px) {
  .ultimate {
    background-size: cover;
    background-position: left;
  }
}


.purple-bg {
  background-image: url("../public/purple-large-backdrop.png");
  background-position: center;
  object-position: bottom;
  background-size: 100%;
  height: 1200px;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .purple-bg {
    height:1150px
  }
}



/* slider */
.card-container {
  display: flex;
  overflow: hidden;
}

.card-container-inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card {
  flex: 0 0 auto;
  width: calc(33.3333% - 16px);
  margin-right: 24px;
}


/* get started */

.left {
  background-image: linear-gradient(#fdf2b8, #bdedb6);
  height: 100%;
}


@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}