@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer keyframes {
  @keyframes infiniteSliderHorizontal {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-1000px - 1rem));
      /*     transform: translateX(calc(1000px + 1rem)); */
    }
  }

  @keyframes infiniteSliderHorizontalRight {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(1000px + 1rem));
      /*     transform: translateX(calc(1000px + 1rem)); */
    }
  }
}

@layer utilities {
  .animate-infinite-slider-horizontal {
    animation: infiniteSliderHorizontal 45s linear infinite;
  }

  .animate-infinite-slider-right {
    animation: infiniteSliderHorizontalRight 45s linear infinite;
  }
}

.moreover {
  background-image: url(/public/bg.svg);

}


.hero-bg {
  background-image: url("../public/hero.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 660px;
}


.student-bg {
  background-image: url("../public/student.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 660px;
}

.hero-heading {
  line-height: 5.2rem;
  letter-spacing: -0.01em;
}

.para {
  line-height: 2.75rem;
}

.header-about {
  line-height: 5.2rem;
  letter-spacing: -0.01em;
}

.ultimate {
  background-image: url("../public/globe.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


/* slider */
.card-container {
  display: flex;
  overflow: hidden;
}

.card-container-inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card {
  flex: 0 0 auto;
  width: calc(33.3333% - 16px);
  margin-right: 24px;
}


